import os

USERNAME = "Github"
ICON_URL = ""
MATTERMOST_WEBHOOK_URLS = {
    'default' : os.environ.get('MATTERMOST_WEBHOOK_URLS', '"yourdomain.org/hooks/hookid", "off-topic"'),
}
SECRET = ""
SHOW_AVATARS = True
SERVER = {
    'hook': "/",
    'address': "0.0.0.0",
    'port': 5000,
}
