USERNAME = "Github"
ICON_URL = ""

# Repository settings
MATTERMOST_WEBHOOK_URLS = {
    'default' : ("yourdomain.org/hooks/hookid", "off-topic"),
}

# Ignore specified event actions
GITHUB_IGNORE_ACTIONS = {
    "pull_request": ["synchronize"]
}

# Redirect events to different channels
REDIRECT_EVENTS = {
    "push": "commits"
}
SECRET = ""
SHOW_AVATARS = True
SERVER = {
    'hook': "/",
    'address': "0.0.0.0",
    'port': 5000,
}
